/.project
src/portage/package/logs/*
tests/graphics
src/graphics/graphics
src/graphics/drivers
src/geany.project
*.o
*.pyc
*.gch
*.pretend
*.emerge
*.cfg
__ag_cache__/*
src/portage/emerge/emerge
src/portage/package/package
src/tools/_misc_tools
src/testing
