AutoGentoo/*
*.lo
*.la
.libs
*.o
*.pyc
*.gch
src/portage/agemerge
*.so
*.geany
*/.deps/*
INSTALL
Makefile
Makefile.in
README
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
lib/Makefile
lib/Makefile.in
lib/core/Makefile
lib/core/Makefile.in
lib/core/tools/Makefile
lib/core/tools/Makefile.in
lib/http/Makefile
lib/http/Makefile.in
lib/portage/Makefile
lib/portage/Makefile.in
libtool
ltmain.sh
m4/
missing
src/Makefile
src/Makefile.in
src/core/Makefile
src/core/Makefile.in
src/core/tools/.deps/
src/core/tools/Makefile
src/core/tools/Makefile.in
src/http/Makefile
src/http/Makefile.in
src/portage/.deps/
src/portage/Makefile
src/portage/Makefile.in
stamp-h1
config.h.in~
src/core/autogentoo
*test*
!*test*.c
*.dat
src/autogentoo
**/autogentoo
src/autogentoo-update
src/autogentoo-update-config

src/*.config*
en_US.utf8
*.request
Debug/*
*~

.idea/*
cmake-build-debug/*
!include/*
include/*Makefile.in
include/*Makefile
venv/*
