*.lo
*.la
.libs
*.o
*.pyc
*.gch
*.so
INSTALL
Makefile
Makefile.in
README
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/Makefile
src/Makefile.in
stamp-h1
config.h.in~
src/autogentoo
src/*.config*
*~
**/.deps/*

#.idea/*
cmake-build-debug/*
include/*Makefile.in
include/*Makefile
venv/*
**/.autogentoo.config
src/test/*
