#!/usr/bin/env xdg-open

[Desktop Entry]
Version=2.6
Name=AutoGentoo
Comment=Gentoo Installer
Exec=gksudo autogentoo
Icon=/usr/lib/autogentoo/img/optional.png
Path=/usr/lib/autogentoo
Terminal=True
Type=Application
Categories=Utility;Application;
GenericName[en_US.utf-8]=Gentoo Installer
