
!!! Multiple package instances within a single package slot have been pulled
!!! into the dependency graph, resulting in a slot conflict:

gnome-base/gnome-control-center:2

  (gnome-base/gnome-control-center-3.16.3:2/2::gentoo, ebuild scheduled for merge) pulled in by
    (no parents that aren't satisfied by other packages in this slot)

  (gnome-base/gnome-control-center-3.16.3:2/2::gentoo, installed) pulled in by
    >=gnome-base/gnome-control-center-3.8.3[bluetooth(+)?,networkmanager(+)?] required by (gnome-base/gnome-shell-3.16.4:0/0::gentoo, ebuild scheduled for merge)
                                                                                                                                                                  


!!! Enabling --newuse and --update might solve this conflict.
!!! If not, it might help emerge to give a more specific suggestion.


emerge: there are no ebuilds built with USE flags to satisfy ">=net-misc/networkmanager-0.9.8[modemmanager]".
!!! One of the following packages is required to complete your request:
- net-misc/networkmanager-1.0.6-r1::gentoo (Change USE: +modemmanager, this change violates use flag constraints defined by net-misc/networkmanager-1.0.6-r1: 'modemmanager? ( ppp ) wext? ( wifi ) exactly-one-of ( nss gnutls ) exactly-one-of ( dhclient dhcpcd )')
(dependency required by "gnome-base/gnome-control-center-3.16.3::gentoo[networkmanager]" [installed])
(dependency required by "gnome-base/gnome-shell-3.16.4::gentoo" [ebuild])
(dependency required by "x11-terms/gnome-terminal-3.16.2-r2::gentoo[gnome-shell]" [ebuild])
(dependency required by "x11-libs/gksu-2.0.2-r1::gentoo[gnome]" [ebuild])
(dependency required by "@selected" [set])
(dependency required by "@world" [argument])
