#main1 {
	background: #FFFFFF;
}
GtkButton.cancel {
	background: #FFF url("gtk/icons/window-close.png") no-repeat center;
}
GtkButton.ok {
	background: #FFF url("gtk/icons/object-select.png") no-repeat center;
}
GtkButton.control {
	border-radius: 50%;
}
GtkButton.back {
	background: #FFF url("gtk/icons/go-previous.png") no-repeat center;
}
GtkButton.next {
	background: #FFF url("gtk/icons/go-next.png") no-repeat center;
}
GtkButton.install_gentoo {
	background: #FFF url("gtk/icons/drive-harddisk.png") no-repeat center;
}
GtkButton.try_gentoo {
	background: #FFF url("gtk/icons/drive-optical.png") no-repeat center;
}
